@font-face {
  font-family: 'MontHeavy';
  src:  url('../public/Mont-Heavy.ttf') format('ttf'),
}

.leftContainer{
  width: 40vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("../public/background.jpeg");
  background-size: 1300px;
}

.logoTwitter {
  height: 30px;
  margin-top: 20px;
}

.logoTwitterInput {
  height: 40px;
  width: 45px;
  margin-top: 20px;
}

.rightContainer {
  margin-left: 25px;
}

.body {
  display: flex;
  background-Color: #0a141c;
  color: white;
}

.h1 {
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 50px;
  margin-top: 70px;
  margin-bottom:50px;
}

.h2 {
  font-family: 'Verdana';
  font-size: 25px;
}

.h3 {
  font-size: 15px;
}

.buttonSignUp{
  background-color: #1DA1F2;
}

/* MODALE */
.registerSection{
  display: flex;
  height: 70%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.registerContainer {
  height: 450px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input {
  padding: 10px;
  width: 50%;
  height: 40px;
  background-color: transparent;
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
}

.closeIcon {
  display: flex;
  justify-content: right;
  margin-right: 20px;
}

.register {
  background-color: transparent;
  border: none;
}

.sectionTitle {
  font-weight: 900;  
}
.modals {
  position: absolute;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  display: flex;
  left: 0;
  right: 0;
  text-align: center;
  width: 500px;
  background-color: #142937;
  border-radius: 10px;
}