.leftContainer{
  width: 40vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("../public/background.jpeg");
  background-size: 1300px;
}

.body {
  display: flex;
  background-Color: #152238;
  color: white;
}

.rightContainer {

}

.buttonSignUp{
  background-color: blue;
  
}